.custom-pagination {
    * {
        color: #707070;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;

        &.h-6.w-6 {
            height: 32px;
            width: 32px;
            border-radius: 50%;
        }
    }

    .min-w-max {
        section.flex.justify-between.bg-white.rounded-lg.border.border-gray-200.px-10.py-3.text-gray-700.font-montserrat {
            border-left: none;
            border-right: none;
            border-color: #eaeaea;
            border-radius: 0;
            padding: 20px
        }
    }

    ul.flex.items-center {
        li.pr-6 {
            a div.bg-gradient-to-r.from-blue-400.to-indigo-400,
            a div.flex.rounded-md.transform.rotate-45.h-6.w-6.items-center.justify-center:hover {
                background-color: #707070;
                background-image: none;                
                  
                transition: background-color 0.2s;              
                
                span.transform.-rotate-45 {
                    color: #fff;
                    transition: color 0.2s; 
                }
                svg {
                    stroke: #FFF;
                    transition: stroke 0.2s; 
                }
            }
        } 
    }

    div.flex.items-center {
        .w-14.rounded-md.border.border-indigo-400.px-1.py-1 {
            border-color: #707070;
        }
    }

    &.pagination-bottom .min-w-max .flex.justify-between.bg-white.rounded-lg.border.border-gray-200.px-10.py-3.text-gray-700.font-montserrat {
        border: none;
        background-color: #f7fbfe;

        .w-14.rounded-md.border.border-indigo-400.px-1.py-1 {
            background-color: #fff;
        }
    }
}