.custom-table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    z-index: 1;

    .row-pagination {
        padding: 20px;
        background-color: #fff; 
        width: 100%;     
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;      
        z-index: 1;
    }

    table {
        z-index: 1;
    }

    thead {        
        tr.row-theaders {
            background-color: #f7fbfe;
            border-bottom: 1px solid #eaeaea;
            

            th {
                text-transform: uppercase;
                padding: 16px 20px;
                text-align-last: left;
                position: relative;

                &.ordered::before {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 45%;
                    transform: translateY(100%);
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #000;
                    clear: both;
                }
                &.ordered::after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 45%;
                    transform: translateY(-100%) rotate(180deg);
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #000;
                    clear: both;
                }
                
                &.ordered.ordered_asc::after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 35%;
                    transform: translateY(100%) rotate(180deg);
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #000;
                    clear: both;                    
                }
                &.ordered.ordered_asc::before {
                    content: none;
                }

                &.ordered.ordered_desc::before {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-100%);
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #000;
                    clear: both;      
                                        
                }
                &.ordered.ordered_desc::after {
                    content: none;
                }
                
            }
        }
        
    }

    tbody {
        background-color: #fff;

        tr {
            cursor: pointer;
            transition: background-color 0.05s ease;

            &:hover {
                background-color: lighten($color: $secondary_color, $amount: 50);
            }
        }

        td {
            padding: 16px 20px;
            text-align: left;
            border-bottom: 1px solid #eaeaea;
            font-size: 16px;            
        }

        td.recordActive::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;            
            width: 4px;
            background-color: $secondary_color;
            height: 100%;            
        }
    }
}