.custom-table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;

    .row-pagination {
        padding: 20px;
        background-color: #fff; 
        width: 100%;     
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;      
    }

    thead {        
        tr.row-theaders {
            background-color: #f7fbfe;
            border-bottom: 1px solid #eaeaea;

            th {
                text-transform: uppercase;
                padding: 16px 20px;
                text-align-last: left;
            }
        }
        
    }

    tbody {
        background-color: #fff;

        td {
            padding: 16px 20px;
            text-align: left;
            border-bottom: 1px solid #eaeaea;
        }

        td.recordActive::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;            
            width: 4px;
            background-color: $secondary_color;
            height: 100%;
        }
    }
}